---
---
@import "fonts";
@import "mybootstrap";
@import "variables";
@import "elements";
@import "wrapper";
@import "header";
@import "blog";
@import "music";
@import "post";
@import "pygments/default";

// Font-Style Settings

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-serif;
};

h1, h2 {
  text-decoration: underline !important;
}

// small screen
@media (max-width: 720px) {
  body {
    font-weight: 500;
    font-family: $font-family-sans-serif;
  }
}

// large screen
@media (min-width: 720px) {
  body {
    font-weight: 400;
    font-family: $font-family-serif;
  }
}
