---
---
// Import order matters
@import "variables";
@import "themes/flatblue";
@import "fonts";
@import "mybootstrap";
@import "elements";
@import "wrapper";
@import "header";
@import "blog";
@import "music";
@import "post";
@import "pygments/default";

// Font-Style Settings
h1, h2 {
  text-decoration: underline !important;
}

body {
  font-feature-settings: "kern", "liga", "clig", "calt";
}

// small screen
@media (max-width: 720px) {
  body {
    font-size: $font-size-base * 1.05;
    font-weight: 300;
    font-family: $font-family-serif;
    line-height: $line-height-sm;
    text-align: justify;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $h-font-family-serif;
  };
}

// large screen
@media (min-width: 720px) {
  body {
    font-size: $font-size-base;
    font-weight: 300;
    font-family: $font-family-serif;
    line-height: $line-height-lg;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $h-font-family-sans-serif;
  };
}
