<div class="container">
    <nav class="navbar level is-mobile" role="navigation" aria-label="main navigation">
        <p class="level-item has-text-centered">
            <a class="navbar-item" href="/">Home</a>
        </p>
        <p class="level-item has-text-centered">
            <a class="navbar-item" href="/blog">Blog</a>
        </p>
        <p class="level-item has-text-centered">
            <a class="navbar-item" href="/music">Music</a>
        </p>
    </nav>
</div>