{# No indentation for macros because it gets parsed as markdown and gets rendered as code blocks #}
{% macro redirect(url, title, description) %}
<!DOCTYPE html>
<html lang=en>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="refresh" content="0; URL={{ url }}">
{% if description %}
<meta name"description" content="{{ description }}">
{% endif %}
{% if title %}
<title>{{ title }}</title>
{% endif %}
</head>
<body>
    <p>If you are not redirected, <a href="{{ url }}">click here!</a></p>
</body>
</html>
{% endmacro %}

{% macro redirectWithUrl(url) %}
{{ redirect(url) }}
{% endmacro %}

{% macro redirectWithHostSlugTitle(host, slug, title) %}
{% set url = [host, slug] %}
{{ redirect(url | join, title) }}
{% endmacro %}